# Server
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Database
DATABASE_URL="postgresql://parking_user:parking_password@localhost:5432/parking_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=tu_super_secreto_cambiar_en_produccion_12345
JWT_EXPIRES_IN=7d